body, p, div {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
ol, ul {
  list-style: none;
}
.clearfix {
  overflow:hidden;
  _zoom:1;
}
.textcenter {
  text-align: center;
}
.red {
  color: red;
}
.themecolor {
  color: #19AA8D;
}
.hide {
  display: none !important;
}
.ant-layout {
  padding: 0 !important;
  margin: 0;
  background: transparent !important;
}
.left {
  float: left;
}
.right {
  float: right;
}

